.sc-1{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .inp-1{
        width: 20em;
    }

    .inp-2{
        width: 20em;
    }

    .inp-3{
        width: 20em;
    }

    .inp-4{
        width: 20em;
    }

    .bt-1{
        margin-top: 2em;
        width: 20em;
        color: purple;
    }
}